
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    You have successfully completed the order.
    <div class="clear"></div>
    <span class="alert-info">
        Thank you for shopping at Vincent demo system.
    </span>
</div>

