
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Permission error
}

<div class="alert alert-danger">
    You don't have enough permission to access this zone.
</div>

